.borde-imagen.flex-imagen {
    max-width: 100%;
    height: auto;
    margin:3px;
    
}

.flex{display:flex;
}

.descripcion-producto{

        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
}

.tam {
    width: 50%;
    height: auto;

}
.expandible {
    transition: transform 3s ease-in-out;
    
}

.expandible:hover {
    transform: scale(1.5);
}
.cont {
    position: relative;
    /* Esto permite que los elementos hijos se posicionen en relación a este contenedor */
    overflow: hidden;
    /* Esto evita que los elementos hijos se salgan del contenedor */
    margin:10px;
}

.imagenes-tam{
    
    border:solid black 3px;
    
        
}

.text-descripcion{

    text-align: start!important;
}

.borde-div{border:solid rgb(204, 187, 232)   3px;border-radius: 10px;}


