@media (max-width: 768px) {
    .eliminarLogo {
        display: none;
    }
}

/*.colorFondo {
    background-color: rgb(237, 93, 5);
}*/

.radioLogo {
border-radius: 50% 50% 50% 50%;
border:solid rgb(237, 93, 5) 3px;


}
/*
.offcanvas-header{background-color: rgb(237, 93, 5);}*/