
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.titulo-fuente {
    font-family:'Roboto'
        ;
    color: rgb(237, 93, 5);
    /* color pastel */
    text-align: center;
    font-size: 4vw;
    /* tamaño responsive */
    margin-top:10px;
}

@media screen and (min-width: 600px) {
    .titulo-fuente {
        font-size: 40px;
        /* tamaño fijo para pantallas más grandes */
    }
}